<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Überweisung</title>
</head>
<body>
    <h2>Überweisung durchführen</h2>

    <a href="/" class="button">Home</a>
</body>
</html>